NODE_ENV=development
PORT=3000
LOG_LEVEL=info


# Future required configuration.
# Do not commit real values.

TELEGRAM_BOT_TOKEN=your_dev_bot_token_here
TELEGRAM_WEBHOOK_SECRET=your_webhook_secret_here
TELEGRAM_WEBHOOK_PATH_SECRET=super_secret_webhook_path_123
PRAY_TEAM_CHAT_ID=your_dev_group_id_here

MONGODB_URI=MONGODB_URI=mongodb+srv://<DB_USERNAME>:<DB_PASSWORD>@<YOUR_CLUSTER>.mongodb.net/prayer_anonymous_bot?retryWrites=true&w=majority

ENCRYPTION_KEY=0b5925efbfc57773dc4faea5f4182646da41000380c75b8b7ca5010c3561b467
ENCRYPTION_KEY_VERSION=1

WEEKLY_DISPATCH_DAY=
WEEKLY_DISPATCH_TIME=
TIMEZONE=Africa/Addis_Ababa

SESSION_TTL_MINUTES=15
MAX_PRAYER_REQUEST_LENGTH=3000

WEEKLY_DISPATCH_CRON=0 18 * * 5
TIMEZONE=Africa/Addis_Ababa